#tsc_breadcrumb-4 {
    background: none repeat scroll 0 0 #eee;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#tsc_breadcrumb-4 li {
    float: left;
}
#tsc_breadcrumb-4 a {
    background-color: #ddd;
    background-image: linear-gradient(to right, #f5f5f5, #ddd);
    color: #444;
    float: left;
    padding: 0.7em 1em 0.7em 2em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#tsc_breadcrumb-4 li:first-child a {
    border-radius: 5px 0 0 5px;
    padding-left: 1em;
}
#tsc_breadcrumb-4 a:hover {
    background: none repeat scroll 0 0 #fff;
}
#tsc_breadcrumb-4 a:after, #tsc_breadcrumb-4 a:before {
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    border-top: 1.5em solid transparent;
    content: "";
    margin-top: -1.5em;
    position: absolute;
    right: -1em;
    top: 50%;
}
#tsc_breadcrumb-4 a:after {
    border-left-color: #ddd;
    z-index: 2;
}
#tsc_breadcrumb-4 a:before {
    border-left-color: #ccc;
    right: -1.1em;
    z-index: 1;
}
#tsc_breadcrumb-4 a:hover:after {
    border-left-color: #fff;
}
#tsc_breadcrumb-4 .current, #tsc_breadcrumb-4 .current:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: bold;
}
#tsc_breadcrumb-4 .current:after, #tsc_breadcrumb-4 .current:before {
    content: normal;
}

#tsc_breadcrumb-5 {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#tsc_breadcrumb-5 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#tsc_breadcrumb-5 li {
    float: left;
    margin: 0 0.5em 0 1em;
}
#tsc_breadcrumb-5 a {
    background: none repeat scroll 0 0 #ddd;
    color: #444;
    float: left;
    padding: 0.7em 1em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#tsc_breadcrumb-5 a:hover {
    background: none repeat scroll 0 0 #99db76;
}
#tsc_breadcrumb-5 a:before {
    border-color: #ddd #ddd #ddd transparent;
    border-style: solid;
    border-width: 1.5em 0 1.5em 1em;
    content: "";
    left: -1em;
    margin-top: -1.5em;
    position: absolute;
    top: 50%;
}
#tsc_breadcrumb-5 a:hover:before {
    border-color: #99db76 #99db76 #99db76 transparent;
}
#tsc_breadcrumb-5 a:after {
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ddd;
    border-top: 1.5em solid transparent;
    content: "";
    margin-top: -1.5em;
    position: absolute;
    right: -1em;
    top: 50%;
}
#tsc_breadcrumb-5 a:hover:after {
    border-left-color: #99db76;
}
#tsc_breadcrumb-5 .current, #tsc_breadcrumb-5 .current:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: bold;
}
#tsc_breadcrumb-5 .current:after, #tsc_breadcrumb-5 .current:before {
    content: normal;
}